*{
    margin: 0;
    padding: 0;
}
html {
	scroll-behavior: smooth;
}
p::selection{
    background: #FFD5AE;
    color: #000;
}
h1{
    font-family: 'Teko', sans-serif;
    font-size: 98px;
    font-weight: 500;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: left;
    color: #494949;
}

.caratula{
    display: flex;
    width: 100vw;
    height: 80vh;
    align-items: center;
    justify-content: center;
}
.preEntrega{
    position: relative;
    top: 263px;
    left: 60px;
}
.simulador{
    position: relative;
    top: 200px;
    left: 120px;
}
.frame{
    position: relative;
}
